*.class

# Package Files #
*.jar
*.war
*.ear
.metadata
/bin/
.settings
.classpath
.project
*.map
*.exe
*.MAP
*.EXE
stderr.txt
stdout.txt
*s.asm
*s.yvm
*s.OUT
*s.out
*s.obj
*s.OBJ
*~
tests/
errorLog.txt