*.class

# Package Files #
*.jar
*.war
*.ear
.metadata
/bin/
.settings
.classpath
.project
*.map
*.exe
stderr.txt
stdout.txt
dataTst/test[0-9]+/test[0-9]+s.map
dataTst/test[0-9]+/test[0-9]+s.obj
dataTst/test[0-9]+/test[0-9]+s.exe
dataTst/test[0-9]+/test[0-9]+s.out
dataTst/test[0-9]+/test[0-9]+s.yvm
dataTst/test[0-9]+/test[0-9]+s.asm
*~
